<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.valdizz.busstation"
    android:versionName="1.0.1">

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>
    <uses-permission android:name="android.permission.VIBRATE"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:name="android.support.multidex.MultiDexApplication"
        android:theme="@style/AppTheme">
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_maps_key" />
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <receiver android:name=".Receivers.ReminderReceiver"/>
        <receiver android:name=".Receivers.ReminderBootReceiver">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED"></action>
            </intent-filter>
        </receiver>

        <activity
            android:name=".SplashActivity"
            android:screenOrientation="portrait"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".RoutesActivity"
            android:label="@string/btn_routes"
            android:screenOrientation="portrait" />
        <activity
            android:name=".AboutActivity"
            android:label="@string/about_menu"
            android:screenOrientation="portrait" />
        <activity
            android:name=".StationsActivity"
            android:label="@string/stations"
            android:screenOrientation="portrait" />
        <activity
            android:name=".SheduleActivity"
            android:label="@string/form_caption_shedule"
            android:screenOrientation="portrait" />
        <activity
            android:name=".FavoriteStationsActivity"
            android:label="@string/btn_favorites"
            android:screenOrientation="portrait" />
        <activity
            android:name=".FoundStationsActivity"
            android:label="@string/btn_findbytext"
            android:screenOrientation="portrait" />
        <activity
            android:name=".MapStationsActivity"
            android:label="@string/btn_findbygps"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ReminderSettingsActivity"
            android:label="@string/dialog_set_reminder"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".RemindersActivity"
            android:label="@string/btn_reminders"
            android:screenOrientation="portrait"/>
    </application>

</manifest>